<h1 class="title is-4">View hero based on <%= PrimaryAttribute.find(params[:id]).name%></h1>
<table class="table">
  <thead>
    <tr>
      <th>Localized Name</th>
      <th>Name</th>
      <th>Attack Type</th>
      <th>Legs</th>
      <th>Primary Attribute<th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th>Name</th>
      <th>Localized Name</th>
      <th>Attack Type</th>
      <th>Legs</th>
      <th>Primary Attribute<th>
    </tr>
  </tfoot>
  <tbody>
    <% @hero_based_on_attribute.each do |hero| %>
    <tr>
      <td><%= link_to hero.localized_name, hero%></th>
      <td><%= hero.name %></th>
      <td><%= hero.attack_type %></th>
      <td><%= hero.legs %></th>
      <td><%= PrimaryAttribute.where("id = #{hero.primary_attribute_id}").first.name%></td>

    </tr>
    <% end %>
  </tbody>
</table>
<div>

<div class="navbar-item">
  <%= link_to "Go Back", primary_attribute_index_path %>
</div>
