<h1 class="title">Heroes found when searching for: <%= params[:keyword] %></h1>
<table class="table">
  <thead>
    <tr>
      <th>Localized Name</th>
      <th>Name</th>
      <th>Attack Type</th>
      <th>Legs</th>
      <th>Primary Attribute<th>
    </tr>
  </thead>
  <tbody>
    <% @heroes_searched.each do |hero| %>
    <tr>
      <td><%= hero.localized_name %></th>
      <td><%= hero.name %></th>
      <td><%= hero.attack_type %></th>
      <td><%= hero.legs %></th>
      <% if(hero.primary_attribute_id == 8) %>
        <td>Agility</th>
      <% end %>
      <% if(hero.primary_attribute_id == 9) %>
        <td>Strength</th>
      <% end %>
      <% if(hero.primary_attribute_id == 10) %>
        <td>Intelligence</th>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>