<h1 class="title">Heroes found when searching for: <%= params[:keyword] %></h1>
<table class="table">
  <thead>
    <tr>
      <th>Localized Name</th>
      <th>Name</th>
      <th>Attack Type</th>
      <th>Legs</th>
      <th>Primary Attribute<th>
    </tr>
  </thead>
  <tbody>
    <% @heroes_searched.each do |hero| %>
    <tr>
      <td><%= link_to hero.localized_name, hero%></th>
      <td><%= hero.name %></th>
      <td><%= hero.attack_type %></th>
      <td><%= hero.legs %></th>
      <td><%= PrimaryAttribute.where("id = #{hero.primary_attribute_id}").first.name%></td>
    </tr>
    <% end %>
  </tbody>
</table>